{% extends 'details.html' %}
{% load static %}
{% block head %}
    Putiton :: About-Us
{% endblock %}

{% block content %}
<div class="w3-container w3-card-4 ">
     <div class="w3-panel w3-white w3-border w3-round w3-border-white">
                <img src="{% static 'images/PUTITON_LOGO_.png' %}" class="img-responsive" alt=""
                     style="width: 200px;height: 200px;display: block;margin: 0 auto;"/>
                <div class="modal-w3lstext w3-justify">
                    <h4 class="w3-text-pink w3-text-bold">PutItOn</h4>
                    <p class="w3-text-bold"><span class="w3-text-pink w3-text-bold">putiton.com.ng</span> started as Nigeria’s first personal virtual shop ,giving respective individual the chance to own a personal virtual shop where he / she can direct his / her customer to in order to view is goods/products
                    </p>
                    <hr>
                    <p>
                        <span class="w3-text-pink">Vision Statement:</span>

                        To use our platform to bridge the gap between physical market shop and virtual market shop
                    </p>
                    <hr>
                    <p>
                        <span class="w3-text-pink">Mission Statement:</span>

                        To provide a fast and reliable platform for connecting our supplier to a wider audience.
                    </p>
                    <hr>
                    <p>
                        <span class="w3-text-pink"> Our Brand Promise:</span>
                        Your Product ….. where, when and exactly how you want it!
                    </p>
                </div>
            </div>
</div>
{% endblock %}
