{% extends 'ipage.html' %}
{% load static %}

{% block head %}
    <title> Supplier || Ads </title>
{% endblock %}

{% block content %}
    {% if msg %}
        <div class="w3-container">
            <div class="well w3-pink w3-card-4 w3-round w3-border w3-margin-top">
                <p class=" w3-text-white"> {{ msg }} <a href="{% url 'subscription' %}"
                                                        class="w3-border-pink w3-text-blue">
                    Subscription </a></p>
            </div>
        </div>
    {% endif %}
    {% if approval %}
        <div class="w3-container ">
            <div class="well w3-pink w3-card-4 w3-border w3-round w3-margin-top">
                <p class=" w3-text-white"><strong>{{ approval }}</strong></p>
            </div>
        </div>
    {% endif %}
    {% if succes %}
        <div class="w3-container">
            <div class="well w3-pink w3-border w3-round w3-card-4 w3-margin-top">
                <p class=" w3-text-white">{{ succes }}</p>
            </div>
        </div>
    {% endif %}
    {% if fail %}
        <div class="w3-container">
            <div class="well w3-red w3-card-4 w3-round w3-border">
                <p class=" w3-text-white">{{ fail }}</p>
            </div>
        </div>
    {% endif %}
    {% if val %}
        <div class="w3-container" style="padding-top: 20px;">
            <div class="w3-bar w3-pink w3-border w3-border-white w3-round">
                <h4 class="w3-bar-item w3-center" style="text-align: center;color:white;">
                    SUBMITS Ads || Submitted {{ srem }} Ads
                </h4>
            </div>
            <br>
            <div class="panel panel-default" style=" display: block;margin: 0 auto;">
                <div class="panel-body">
                    <form class="form" method="post" action="#" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="product_name">Product Name</label>
                            <input type="text" id="product_name" class="form-control" name="product_name"
                                   placeholder="Product Name" required>
                        </div>

                        <div class="form-group ">
                            <label for="price">Price</label>
                            <input type="text" id="price" class="form-control" name="price"
                                   placeholder="Enter the price." required>
                        </div>

                        <div class="form-group">
                            <label for="section">Category</label>
                            <select class="form-control" name="category" id="category" required>
                                <option value="Bags">Bags</option>
                                <option value="Beads">Beads</option>
                                <option value="Clothing">Clothing</option>
                                <option value="ClothingAccessories">Clothing Accessories</option>
                                <option value="Hairstylist">Hairstylist</option>
                                <option value="Jewelry">Jewelry</option>
                                <option value="MakeupArtist">Makeup Artist</option>
                                <option value="Shoes">Shoes</option>
                                <option value="Watches">Watches</option>
                                <option value="WeddingWears">Wedding Wears</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="product_name">Color </label>
                            <input type="text" id="color" class="form-control" name="color"
                                   placeholder="Kindly Specify various product colors" required>
                        </div>

                        <div class="form-group">
                            <label for="product_name">Size </label>
                            <input type="text" id="size" class="form-control" name="size"
                                   placeholder="Kindly Specify various product sizes" required>
                        </div>

                        <div class="form-group">
                            <label for="product_name">WhatSapp Pre-Defined Text </label>
                            <input type="text" id="wtext" class="form-control" name="wtext"
                                   placeholder="Kindly Specify the first text you wish to see when a user chat you up."
                                   required>
                            <small><strong>E.g I want to buy Jean Trouser.(While Jean trouser is your Product
                                name)</strong></small>
                        </div>

                        <div class="form-group">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" rows="4" id="descrip" name="descrip"
                                      placeholder="Enter Brief produc description ,specifying the delivery days and delivery fees."></textarea>
                        </div>
                        <hr>
                        <p><strong>Note: First uploaded picture is the picture the User will see on the page.</strong>
                        </p>
                        <div class="form-group">
                            <label for="image">Product Image</label>
                            <input type="file" name="image1" id="image1" required onchange="a()">
                            <p class="help-block" id="help1" style="display: none">Image size too size,kindy upload
                                image less than 2mb or equal to 2mb</p>
                        </div>
                        <div class="form-group">
                            <input type="file" name="image2" id="image2" required style="display: none" onchange="b()">
                            <p class="help-block" id="help2" style="display: none">Image size too size,kindy upload
                                image less than 2mb or equal to 2mb</p>
                        </div>
                        <div class="form-group">
                            <input type="file" name="image3" id="image3" required style="display: none" onchange="c()">
                            <p class="help-block" id="help3" style="display: none">Image size too size,kindy upload
                                image less than 2mb or equal to 2mb</p>
                        </div>
                        <div class="w3-center" id="submit" style="display: none">
                            <input type="submit" name="submit"
                                   class="w3-btn w3-white w3-round w3-border w3-border-pink w3-hover-white w3-text-pink w3-hover-text-pink"
                                   value="Submit"
                                   style="background-color: orange;">
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function a() {
                var image = document.getElementById('image1');
                var image1 = document.getElementById('image2');
                var image2 = document.getElementById('image2');
                if (image.files.length > 0) {
                    for (var i = 0; i <= image.files.length - 1; i++) {
                        var filaezixe = image.files.item(i).size;
                        if (filaezixe < 500000) {
                            document.getElementById('image2').style.display = "block";
                            document.getElementById('image3').style.display = "none";
                            document.getElementById('submit').style.display = "none";
                            document.getElementById('help1').style.display = "none";
                        }
                        else {
                            document.getElementById('image2').style.display = "none";
                            document.getElementById('image3').style.display = "none";
                            document.getElementById('submit').style.display = "none";
                            document.getElementById('help1').style.display ="block";
                        }
                    }
                }
            }


            function b() {
                var image1 = document.getElementById('image2');
                if (image1.files.length > 0) {
                    for (var i = 0; i <= image1.files.length - 1; i++) {
                        var filaezixe = image1.files.item(i).size;
                        if (filaezixe < 500000) {
                            document.getElementById('image3').style.display = "block";
                            document.getElementById('submit').style.display = "none";
                            document.getElementById('help2').style.display = "none";
                        }
                        else {
                            document.getElementById('image3').style.display = "none";
                            document.getElementById('submit').style.display = "none";
                            document.getElementById('help2').style.display ="block";
                        }
                    }
                }
            }

            function c() {
                var image3= document.getElementById('image3');
                if (image3.files.length > 0) {
                    for (var i = 0; i <= image3.files.length - 1; i++) {
                        var filaezixe = image3.files.item(i).size;
                        if (filaezixe < 500000) {
                            document.getElementById('submit').style.display = "block";
                            document.getElementById('help3').style.display = "none";
                        }
                        else {
                            document.getElementById('submit').style.display = "block";
                            document.getElementById('help3').style.display ="block";
                        }
                    }
                }
            }

        </script>
    {% endif %}
{% endblock %}