{% extends 'details.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <div class="w3-content" style="max-width:200px;padding: 1.5em;background-color: #eee;">
                    <img class="mySlides" src="{{ sql1.image1.url }}" style="width: 150px;height: 250px;">
                    <img class="mySlides" src="{{ sql1.image2.url }}" style="width: 150px;height: 250px;">
                    <img class="mySlides" src="{{ sql1.image3.url }}" style="width: 150px;height: 250px;">

                    <div class="w3-row-padding w3-section">
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="{{ sql1.image1.url }}"
                                 style="width:120%;height: 120%;"
                                 onclick="currentDiv(1)">
                        </div>
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="{{ sql1.image2.url }}"
                                style="width:120%;height: 120%;"
                                 onclick="currentDiv(2)">
                        </div>
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="{{ sql1.image3.url }}"
                                 style="width:120%;height: 120%;"
                                 onclick="currentDiv(3)">
                        </div>
                    </div>
                </div>

                <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);

                    function plusDivs(n) {
                        showDivs(slideIndex += n);
                    }

                    function currentDiv(n) {
                        showDivs(slideIndex = n);
                    }

                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("demo");
                        if (n > x.length) {
                            slideIndex = 1
                        }
                        if (n < 1) {
                            slideIndex = x.length
                        }
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
                        }
                        x[slideIndex - 1].style.display = "block";
                        dots[slideIndex - 1].className += " w3-opacity-off";
                    }
                </script>
            </div>
            <div class="col-md-6 col-lg-6">
                <br>
                <br>
                <input type="hidden" id="pay_mode" name="pay_mode" value="{{ sql1.status }}">
                <div class="single-para simpleCart_shelfItem">
                    <h2>{{ sql1.product_name }}</h2>
                    <div class="star-on">
                        {#                        <ul id="h">#}
                        {#                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>#}
                        {#                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>#}
                        {#                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>#}
                        {#                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>#}
                        {#                            <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>#}
                        {#                        </ul>#}
                        <div class="review">
                            <a href="#" style="font-size: 20px;"> {{ sql1.reviews }} reviews </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <label class="add-to item_price">#{{ sql1.price }}.00</label>
                    <button onclick="myFunction()" class="w3-button w3-pink w3-hover-pink w3-hover-text-white"
                            style="margin-bottom: 10px;">More details
                    </button>
                    <div id="myDIV" style="display: none;margin-top: 7px;margin-bottom: 7px;">
                        <h6 style="margin-bottom: 3px;">
                            <span><strong>Supplier:</strong> {{ sql1.supplier }}</span>
                        </h6>
                        <h5 style="margin-bottom: 3px;">
                            <span><strong>Phone number:</strong> {{ sql1.Phone }}</span>
                        </h5>
                        <h5>
                            <span><strong>Location:</strong> {{ sql1.location }},{{ sql1.state }}</span>
                        </h5>
                        <h5><span><strong>Description:</strong>{{ sql1.descrip }}</span></h5>
                    </div>
                </div>
                <script>
                    function myFunction() {
                        var x = document.getElementById("myDIV");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
                </script>
                <div class="w3-center">
                    <div class="w3-bar">
                        <a href="https://api.whatsapp.com/send?phone={{ sql1.Phone }}&text={{ sql1.text }}"
                           target="_blank"
                           class="w3-button w3-hover-pink w3-text-pink w3-border w3-border-pink"
                           style="margin-right: 2px;">Contact Via <i
                                class="fa fa-whatsapp w3-hover-text-green w3-text-green" aria-hidden="true"></i> </a>
                    </div>
                    <div class="w3-bar">
                        <a href="mailto:{{ sql1.Email }}" target="_blank"
                           class="w3-button w3-hover-pink w3-text-pink w3-border w3-border-pink"
                           style="margin-right: 2px;">Contact Via Gmail<i
                                class="fa fa-google-plus-official" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

   <hr>
    <div class="w3-center">
        <div class="w3-bar w3-border w3-hover-white w3-hover-text-pink w3-white">
            <a href="{% url 'store' ses %}" class=" "><h3 class=" w3-text-pink "
                style="margin-right: 2px;">View<strong style="padding-right: 2px;"> {{ sql1.supplier }}</strong> Store </h3></a>
        </div>
    </div>
    <br>

    <style>
        .plat {
            position: absolute;
            right: 15%;
            border: 2px solid teal;
            padding: 1px;
            top: 0%;
            margin-top: 5px;
            z-index: 498;
        }

        .plat > p {
            background: teal;
            text-align: center;
            line-height: 0em !important;
            font-size: 1em !important;
            padding: 7px;
            color: white;
        }

        .gold {
            position: absolute;
            right: 15%;
            border: 2px solid blue;
            padding: 1px;
            top: 0%;
            margin-top: 5px;
            z-index: 498;
        }

        .gold > p {
            background: blue;
            text-align: center;
            line-height: 0em !important;
            font-size: 1em !important;
            padding: 7px;
            color: white;
        }

        .silver {
            position: absolute;
            right: 15%;
            border: 2px solid red;
            padding: 1px;
            top: 0%;
            margin-top: 5px;
            z-index: 498;
        }

        .silver > p {
            background: red;
            text-align: center;
            line-height: 0em !important;
            font-size: 1em !important;
            padding: 7px;
            color: white;
        }

        .free {
            position: absolute;
            right: 15%;
            border: 2px solid orange;
            padding: 1px;
            top: 0%;
            margin-top: 5px;
            z-index: 498;
        }

        .free > p {
            background: orange;
            text-align: center;
            line-height: 0em !important;
            font-size: 1em !important;
            padding: 7px;
            color: white;
        }
    </style>
    <!--makeup platinum-->
    {% if rel %}
        <div class="c-btm">
            <div class="content-top1">
                <div class="container">
                    {% for i in rel %}
                        <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                            <div class="col-md1 simpleCart_shelfItem">
                                {% if i.status == "Platinum" %}
                                    <div class="plat"><p><span>{{ i.status }}</span></p></div>
                                {% endif %}
                                {% if i.status == "Gold" %}
                                    <div class="gold"><p><span>{{ i.status }}</span></p></div>
                                {% endif %}
                                {% if i.status == "Silver" %}
                                    <div class="silver"><p><span>{{ i.status }}</span></p></div>
                                {% endif %}
                                {% if i.status == "Free" %}
                                    <div class="free"><p><span>{{ i.status }}</span></p></div>
                                {% endif %}
                                <img class="img-responsive" src="{{ i.image1.url }}" alt=""/>
                                <h3>{{ i.product_name }}
                                </h3>
                                <div class="price">
                                    <h5 class="item_price">{{ i.price }}</h5>
                                    <a href="{% url 'p_makeup' i.id %}" class="item_add">View</a>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--end makeup-->
{% endblock %}