{% extends 'ipage.html' %}
{% load static %}


{% block content %}



        <style>
        .form {
            border-radius: 1em;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1%;
            margin-bottom: 5%;
            overflow-x: hidden !important;
        }
    </style>
    {% if msg %}
        <div class="w3-panel w3-green w3-card-4">
            <p class=" w3-text-white">{{ msg }}</p>
        </div>
    {% endif %}
    <div class="w3-container" style="padding-top: 20px;">
        <div class="w3-bar w3-pink w3-border w3-border-white w3-round">
            <div class="w3-bar-item" style="text-align: center;color:white;">ADD PRODUCTS</div>
        </div>
        <br>
        <form class="form" method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {% for i in showprod %}
            <div class="form-group">
                <label for="product_name">Product Name : {{ i.product_name }}</label>
                <input type="text" id="product_name" class="form-control" name="product_name"
                       placeholder="Product Name">
            </div>


            <div class="form-group ">
                <label for="supplier">Supplier name : {{ i.supplier }}</label>
                <input type="text" id="supplier" class="form-control" name="supplier"
                       placeholder="Enter the supplier name.">
            </div>

            <div class="form-group ">
                <label for="price">Price : {{ i.price }}</label>
                <input type="text" id="price" class="form-control" name="price" placeholder="Enter the price.">
            </div>
            <div class="form-group">
                <label for="section">Category : {{ i.category }}</label>
                <select class="form-control" name="category" id="category">
                    <option value="#">---Select Category-----</option>
                    <option value="women">Women</option>
                    <option value="men">Men</option>
                </select>
            </div>
            <div class="form-group">
                <label for="section">Color : {{ i.color }}</label>
                <select class="form-control" name="color" id="color">
                    <option value="#">---Select Color-----</option>
                    <option value="women">purple</option>
                    <option value="men">Black</option>
                </select>
            </div>
            <div class="form-group">
                <label for="section">Size : {{ i.size }}</label>
                <select class="form-control" name="size" id="size">
                    <option value="#">---Select Size-----</option>
                    <option value="women">23</option>
                    <option value="men">24</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Description : {{ i.descrip }}</label>
                <textarea class="form-control" rows="4" id="descrip" name="descrip"
                          placeholder="Enter your Address"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Product Image :{{ i.image1 }}</label>
                <input type="file" name="image1" id="image">
                <p class="help-block">Upload products image.</p>
            </div>
            <div class="form-group">
                <label for="image">Product Image : {{ i.image2 }}</label>
                <input type="file" name="image2" id="image">
                <p class="help-block">Upload products image.</p>
            </div>
            <div class="form-group">
                <label for="image">Product Image : {{ i.image3 }}</label>
                <input type="file" name="image3" id="image">
                <p class="help-block">Upload products image.</p>
            </div>

            <input type="submit" name="submit" class="btn w3-pink w3-btn" value="Submit"
                   style="background-color: orange;margin-left: 70%;">
            {% endfor %}
        </form>
    </div>


{% endblock %}