{% extends 'details.html' %}
{% load static %}
{% block head %}
    Putiton :: Faqx
{% endblock %}

{% block content %}

    <div class="w3-container w3-card-4 ">
        <div class="w3-panel w3-white w3-border w3-round w3-border-white">
            <div class="container w3-center">
                <div class="w3-bar">
                    <i class="w3-button w3-white w3-hover-white w3-hover-text-pink w3-border-pink w3-border-bottom w3-text-black"
                       style="margin-right: 2px;font-family: Arial;" disabled>
                        <strong><h3>FREQUETLY ASKED QUESTIONS</h3></strong> </i>
                </div>
            </div>
            <div class="modal-w3lstext w3-justify">
                <h4 class="w3-text-pink w3-text-bold">How to post an advert on Putiton.com.ng</h4>
                <p class="w3-text-bold">

                    Posting Products on Putiton.com.ng is easy and fast, just take the following steps to proceed:</p>

                <p>1. Click on Enroll as Supplier to Register For FREE NOW.</p>
                <p>2. Complete all the information about your brand and Click <span class="w3-text-pink">Register </span>
                    Button.</p>
                <p>3. After Registration successfull, then continue to login in order to access your dashboard.</p>
                <p>4. Once you are on your dashboard click on Submits Ads to post your products and you will be require
                    to submit three picture of your products.</p>
                <p>5. Your advert will be published shortly once moderation process is completed.</p>
                <p>Be ready to receive numerous incoming calls ,WhatsApp message(customized by you) and Emails from your
                    potential buyers. Good luck with your sales!
                </p>
                <hr>
                <p>
                <h4 class="w3-text-pink">Posting rules</h4>


                <p>Following rules are required while you are posting adverts on PutItOn:</p>

                <p>1. Every advert must have a precise title.</p>
                <p>2. Every advert should contain only unique images (taken by the seller and not downloaded from the
                    Internet) without any contact information or watermarks.</p>
                <p>3. Make sure you chose an appropriate category. Be attentive choosing a category for your
                    products.</p>
                <p>4. The prices of your items must correspond to the real prices of similar products.</p>
                <p>5. All items and products must be legally permitted.</p>
                <p>6. Each item for sale must be posted separately. You cannot post several products within one and the
                    same advert.</p>
                <p>7. Every advert must contain a brief and clear description.</p>
                <hr>
                <p>
                <h4 class="w3-text-pink">Prohibited items on PutItOn</h4>


                <p>Please, take a moment to review the items which are not allowed to be advertised on
                    putiton.com.ng:</p>

                <p>1. Narcotics, steroids, and any drugs or medications that require a prescription from a licensed
                    medical specialist
                    Weapons.
                <p>2. Restricted military/police items.
                <p>3. Human organs.
                <p>4. Illegal/pirated copies.
                <p>5. Stolen property.
                <p>6. Code grabbing and lock picking devices.
                <p>7. Electronic equipment prohibited by the law.
                <p>8. Sexually-oriented services.
                <p>9. Loans, money transactions, Bitcoin.
                <p>10. Multi-level marketing, pyramid, and matrix programs.
                <p>11. Network marketing and “Home Base Business” jobs.
                <p>Any other Products/Things not related to <strong>FASHION</strong>.
                </p>
<hr>
            </div>
        </div>
    </div>
{% endblock %}
