{% extends 'inew.html' %}
{% load static %}
{% load staticfiles %}
{% block head %}
    Putiton :: Home
{% endblock %}
{% block content %}
    {#<div id="loader"></div>#}
    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-pink w3-text-white w3-hover-text-pink w3-hide-small">
        <a href="https://facebook.com/@putiton_com_ng" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i
                class="fa fa-facebook-official"></i></a>
        <a href="https://instagram.com/putiton_com_ng" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i
                class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/putiton_com_ng" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i
                class="fa fa-twitter"></i></a>
    </div>

    <div class="w3-content myDiv" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white w3-border-top w3-border-pink">
            <h1 class="w3-xxxlarge"><b><a href="{% url 'index' %}" class="w3-hover-text-pink"> PutItOn<span
                    style="font-size: 13px;"
                    class="w3-tag w3-white w3-text-pink w3-round-xlarge w3-border w3-border-pink">.com.ng</span></a></b>
            </h1>
            <h6>Welcome to the first Personal <span
                    class="w3-tag w3-pink w3-border w3-round w3-border-pink">Virtual Shop</span></h6><br>
            <div class="w3-bar"><a href="{% url 'supplier_reg' %}"
                                   class="w3-button w3-white w3-hover-white w3-border w3-border-pink w3-text-pink w3-round w3-hover-text-pink">Enroll
                as Supplier</a> <a href="{% url 'supplier_log' %}"
                                   class="w3-button w3-hover-white w3-white w3-border w3-border-pink w3-text-pink w3-round w3-hover-text-pink">Login
                as Supplier</a></div>
        </header>
        <style>
            .mySlides {
                display: none;
            }

            .text {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
        <!-- Image slider -->

        <header class="w3-display-container mySlides w3-wide" id="home">
            <img class="img-responsive" src="{% static 'images/PUTITON_SLIDES1.jpg' %}" alt="Fashion Blog" width="1600"
                 height="1050">
            <p class="text"><strong>Join Over {% if cout %} <strong class="w3-text-pink">{{ cout }}+</strong>{% else %}
                <strong>100+</strong> {% endif %} Suppliers Today ,To Enjoy your personal Virtual Shop</strong></p>
        </header>
        <header class="w3-display-container mySlides w3-wide" id="home">
            <img class="img-responsive" src="{% static 'images/PUTITON_SLIDES_2.jpg' %}" alt="Fashion Blog" width="1600"
                 height="1050">
            <a href="{% url 'supplier_reg' %}"
               class="w3-btn text w3-border w3-border-pink w3-text-white w3-round w3-hover-text-white">Enroll as
                Supplier</a>
        </header>
        <header class="w3-display-container mySlides w3-wide" id="home">
            <img class="img-responsive" src="{% static 'images/PUTITON_SLIDES_3.jpg' %}" alt="Fashion Blog" width="1600"
                 height="1050">
            <a href="{% url 'supplier_log' %}"
               class="w3-btn text w3-border w3-border-pink w3-text-white w3-round w3-hover-text-white">Login as
                Supplier</a>
        </header>
        {#        <header class="w3-display-container mySlides w3-wide" id="home">#}
        {#            <img class="img-responsive" src="{% static 'images/PUTITON_SLIDES_4.jpg' %}" alt="Fashion Blog" width="1600"#}
        {#                 height="1050">#}
        {#        </header>#}
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {
                    myIndex = 1
                }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 3000); // Change image every 2 seconds
            }
        </script>
        <!-- category and hot products -->
        <div class="w3-row w3-padding w3-border">

            <!-- Blog entries -->
            <div class="w3-col l12 s12">

                <div class="container">
                    <div class="w3-row">
                        <div class="w3-col l6 m6 s6">
                            <a href="javascript:void(0)" onclick="openCity(event, 'hot');">
                                <div class="w3-third tablink w3-bottombar w3-hover-pink w3-text-pink w3-padding"
                                     style="text-transform: uppercase">Trending
                                </div>
                            </a>
                        </div>
                        <div class="w3-col l6 m6 s6">
                            <a href="javascript:void(0)" onclick="openCity(event, 'cat');">
                                <div class="w3-third tablink w3-bottombar w3-hover-pink w3-text-pink w3-padding">
                                    CATEGORIES
                                </div>
                            </a>
                        </div>
                    </div>

                    <div id="cat" class="container city" style="display:none;margin-right: 10px;">
                        <div class="container p w3-white w3-border-white">
                            <div class="w3-white w3-margin">
                                <ul class="w3-ul w3-hoverable w3-white">
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'bags' %}">Bags</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'beads' %}">Beads</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'clothing' %}">Clothing</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'hairstylist' %}">Hairstylist</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'jewelry' %}">Jewelry</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'makeupArtist' %}">Makeup Artist</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'shoes' %}">Shoes</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'watches' %}">Watches</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'weddingwears' %}">Wedding Wears</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="hot" class="container h city" style="margin-bottom: 2%;margin-top: 2%;display: block">
                        <div class="row">
                            {% if list %}
                                {% for i in list %}
                                    <a href="{% url 'det' i.id %}">
                                    <div class="col-md-3">
                                        <div class="w3-card w3-round"
                                             style="max-width:250px;padding: 0em;background-color: white;">
                                            <img class="img-responsive" src="{{ i.image1.url }}"
                                                 style="width: 250px;height: 250px;">

                                            <div class="w3-row-padding w3-section">
                                                <div class="w3-col s12">
                                                    <div class="row">
                                                        <p id="t"
                                                            style="margin-left: 20px;">{{ i.product_name }} </p>
                                                        <p id="t"
                                                            style="margin-left: 20px;">{{ i.supp_user.company }}</p>
                                                        <p id="t" class="w3-green"
                                                            style="width: 110px;margin-left: 20px;">
                                                            &#8358 {{ i.price }}.00 </p>
                                                    </div>
                                                    <div class="w3-bar" style="padding-bottom: 8px;">
                                                        <i
                                                           class="w3-text-pink w3-hover-text-pink w3-white w3-right">
                                                            <i class="glyphicon glyphicon-eye-open"></i>{{ i.post_view }}views
                                                        </i>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% include 'pagination.html' %}
                    </div>

                    <br>
                </div>

            </div>

            <!-- END GRID -->
        </div>
        <!-- END w3-content -->
    </div>
    <!-- end category and hot products -->
    <hr>

    </div>

    <!-- Subscribe -->
    <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-pink">
            <h4 class="w3-text-white">SEARCH</h4>
        </div>
        <div class="w3-container w3-white">
            <p><strong style="margin-left: 3px;"> Search by Product name,State,Local-Govt.</strong></p>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="w3-input w3-border" name="search" type="text" required
                       placeholder="Search by Product name,State,Local-Govt," style="width:100%">
                <input type="submit" value="search"
                       class="w3-button w3-right w3-hover-white  w3-white w3-border w3-border-pink w3-round w3-text-pink w3-hover-text-pink">
            </form>
        </div>

    </div>


    {#    <div class="container w3-center">#}
    {#        <form class="form-inline" method="post" action="{% url 'search' %}">#}
    {#            #}
    {#            <div class="form-group">#}
    {#                <input type="text" class="form-control" name="seach" placeholder="Enter Product name" required>#}
    {#            </div>#}
    {#            <button type="submit"#}
    {#                    class="w3-btn w3-hover-white w3-white w3-border w3-border-pink w3-hover-text-pink w3-text-pink"#}
    {#            >Search#}
    {#            </button>#}
    {#        </form>#}
    {#    </div>#}
    <br>
{% endblock %}
