{% extends 'inew.html' %}
{% load static %}
{% block head %}
    Putiton :: Home
{% endblock %}
{% block content %}
    {#<div id="loader"></div>#}
    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-pink w3-text-white w3-hover-text-pink w3-hide-small">
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-instagram"></i></a>
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-snapchat"></i></a>
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-twitter"></i></a>
        <a href="#" class="w3-bar-item w3-btn w3-text-white w3-hover-text-white"><i class="fa fa-linkedin"></i></a>
    </div>

    <div class="w3-content myDiv" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white">
            <h1 class="w3-xxxlarge"><b><a href="{% url 'index' %}" class="w3-hover-text-pink"> Putiton<span
                    class="w3-tag w3-white w3-text-pink w3-round-xlarge w3-border w3-border-pink">.com.ng</span></a></b>
            </h1>
            <h6>Welcome to the first Virtual <span
                    class="w3-tag w3-pink w3-border w3-round w3-border-pink">Personal Shop</span></h6>
        </header>

        <!-- Image header -->
        <header class="w3-display-container w3-wide" id="home">
            <img class="w3-image" src="{% static 'images/jane.jpg' %}" alt="Fashion Blog" width="1600" height="1060">
            <div class="w3-display-left w3-padding-large">
                <h1 class="w3-text-white">Enroll as a Supplier</h1>
                <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
                <h6>
                    <a href="{% url 'supplier_reg' %}"
                       class="w3-btn w3-pink w3-padding-large w3-large w3-border w3-border-pink w3-text-white w3-hover-text-white w3-opacity"
                    >Enroll
                    </a>
                </h6>
            </div>
        </header>

        <!-- category and hot products -->
        <div class="w3-row w3-padding w3-border">

            <!-- Blog entries -->
            <div class="w3-col l12 s12">

                <div class="container">
                    <div class="w3-row">
                        <div class="w3-col l6 m6 s6">
                            <a href="javascript:void(0)" onclick="openCity(event, 'hot');">
                                <div class="w3-third tablink w3-bottombar w3-hover-pink w3-text-pink w3-padding" style="text-transform: uppercase">Trending
                                </div>
                            </a>
                        </div>
                        <div class="w3-col l6 m6 s6">
                            <a href="javascript:void(0)" onclick="openCity(event, 'cat');">
                                <div class="w3-third tablink w3-bottombar w3-hover-pink w3-text-pink w3-padding">
                                    CATEGORIES
                                </div>
                            </a>
                        </div>
                    </div>

                    <div id="cat" class="container city" style="display:none;margin-right: 10px;">
                        <div class="container p w3-white w3-border-white">
                            <div class="w3-white w3-margin">
                                <ul class="w3-ul w3-hoverable w3-white">
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'bags' %}">Bags</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'beads' %}">Beads</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'clothing' %}">Clothing</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'hairstylist' %}">Hairstylist</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'jewelry' %}">Jewelry</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'makeupArtist' %}">Makeup Artist</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'shoes' %}">Shoes</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'watches' %}">Watches</a>
                                    </li>
                                    <li class="w3-padding-16 w3-hover-pink w3-text-pink w3-hover-text-white">
                                        <a href="{% url 'weddingwears' %}">Wedding Wears</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="hot" class="container h city" style="margin-bottom: 2%;margin-top: 2%;display: block">
                        <div class="row">
                            {% if dis %}
                                {% for i in dis %}
                                    <div class="col-md-3 ">
                                        <div class="panel panel-default w3-card">
                                            <div class="panel-body">
                                                <div class="thumbnail">
                                                    <img src="{{ i.image1.url }}" alt="pics"
                                                         class="img-responsive img-hover"
                                                         style="height: 150px;width: 200px;">
                                                </div>
                                                <div class="row w3-justify">
                                                    <h5 id="t"
                                                        style="width: 110px;margin-left: 20px;">{{ i.product_name }} </h5>
                                                    <h6 id="t"
                                                        style="width: 110px;margin-left: 20px;">{{ i.supp_user.company }}</h6>
                                                    <h5 id="t" class="w3-green" style="width: 110px;margin-left: 20px;">
                                                        #{{ i.price }}.00 </h5>
                                                </div>
                                                <div class="w3-center">
                                                    <a href="{% url 'det' i.id %}"
                                                       class="w3-btn  w3-border w3-border-pink w3-round w3-text-pink w3-hover-text-pink w3-white">
                                                        View
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>

                <!-- END GRID -->
            </div>
            <!-- END w3-content -->
        </div>
        <!-- end category and hot products -->
        <hr>

        <div class="w3-row">
            {#        <div class="w3-col l6 s6">#}
            {#            <div class="w3-white w3-margin">#}
            {#                <div class="w3-container w3-padding w3-pink">#}
            {#                    <h4>Follow Me</h4>#}
            {#                </div>#}
            {#                <div class="w3-container w3-xlarge w3-padding w3-text-pink w3-hover-text-pink">#}
            {#                    <i class="fa fa-facebook-official w3-hover-opacity"></i>#}
            {#                    <i class="fa fa-instagram w3-hover-opacity"></i>#}
            {#                    <i class="fa fa-snapchat w3-hover-opacity"></i>#}
            {#                    <i class="fa fa-pinterest-p w3-hover-opacity"></i>#}
            {#                    <i class="fa fa-twitter w3-hover-opacity"></i>#}
            {#                    <i class="fa fa-linkedin w3-hover-opacity"></i>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            <div class="w3-col l12 s12">
                <div class="w3-white w3-margin">
                    <div class="w3-container w3-padding w3-pink w3-text-white">
                        <h4>Search</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>Search By Product name</p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Enter Keyword" style="width:100%">
                        </p>
                        <p>
                            <input type="submit" value="SEARCH"
                                   class="w3-btn w3-white w3-border w3-text-pink w3-hover-text-pink w3-border-pink w3-right"/>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Subscribe Modal -->


    <!-- Footer -->
    <!-- Footer -->
{% endblock %}
