{% extends 'details.html' %}
{% load static %}
{% block head %}
    Putiton :: Jewelry
{% endblock %}

{% block content %}
{% if msg %}
        <script>
            alert('No stock available');
            window.location.href = "/"
        </script>
    {% endif %}
    <br>
    <div class="container w3-center">
    <div class="w3-bar">
         <i class="w3-button w3-white w3-hover-white w3-hover-text-pink w3-border-pink w3-border-bottom w3-text-pink"
           style="margin-right: 2px;font-family: Arial;" disabled>
            <a href="{% url 'index' %}" class="w3-hover-text-pink w3-text-pink">Home</a> / <strong>Jewelry</strong>  </i>
    </div>
    </div>
    <div id="hot" class="container h city" >
        <div class="panel panel-default" style="margin: 0 auto;">
            <div class="panel-body">
                <!-- Posts -->
                <div class="w3-white w3-margin">
                    <ul class="w3-ul w3-hoverable w3-white">
                        {% if bp %}
                            {% for i in bp %}
                                <li class="w3-padding-16">
                                    <a href="{% url 'det' i.id %}" class="w3-hover-text-black">
                                        <img src="{{ i.image1.url }}" alt="Image"
                                             class="w3-left w3-margin-right w3-round img-responsive"
                                             style="display: block;max-width: 75px;max-height: 60px;width: auto;height: auto;">
                                        <span class="w3-large">{{ i.product_name }} || #<i
                                                class="w3-text-green"> {{ i.price }}</i>  </span>
                                        <br>
                                        <span class="w3-justify">{{ i.supp_user.company }} || {{ i.date }}</span>
                                    </a></li>
                            {% endfor %}
                        {% endif %}
                        {% if dat %}
                            <div class="well w3-pink">
                                {{ dat }}
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<br>

{% endblock %}