{% extends 'ms_supp.html' %}
{% load static %}
<!--//header-->
{% block content %}
    <hr>
    <div class="login">

        <div class="main-agileits">
            <div class="form-w3agile">
                 <h5 class="w3-center w3-text-pink" style="font-size: 23px;"> PRE-SUPPLIER REGISTRATION </h5>
                <hr>
                <div class="w3-container">
                    <div class="w3-bar w3-center">
                        <a href="{% url 'supplier_reg' %}" class="w3-btn w3-border w3-round w3-border-pink w3-white w3-hover-white w3-text-pink w3-hover-text-pink">REGISTER</a>
                        <a href="{% url 'supplier_log' %}" class="w3-btn w3-border w3-round w3-border-pink w3-white w3-hover-white w3-text-pink w3-hover-text-pink">LOGIN</a>
                    </div>
                </div>

        </div>
    </div>
    </div>
{% endblock %}