{% extends 'details.html' %}
{% load static %}
{% block head %}
    Putiton :: Shoes
{% endblock %}

{% block content %}
    {% if err %}
        <script>
            alert('No stock available');
            window.location.href = "/"
        </script>
    {% endif %}
    <br>
    <div class="container w3-center">
        <div class="w3-bar">
            <i class="w3-button w3-white w3-hover-white w3-hover-text-pink w3-border-pink w3-border-bottom w3-text-pink"
               style="margin-right: 2px;font-family: Arial;" disabled>
                <a href="{% url 'index' %}" class="w3-hover-text-pink w3-text-pink">Home</a> / <strong>Shoes</strong>
            </i>
        </div>
    </div>
    <div id="hot" class="container h city" style="margin-bottom: 2%;margin-top: 2%;display: block">
        <div class="row">
            {% if list %}
                {% for i in list %}
                    <div class="col-md-3 ">
                        <div class="panel panel-default w3-card w3-animate-left">
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{{ i.image1.url }}" alt="pics"
                                         class="img-responsive img-hover"
                                         style="height: 150px;width: 200px;">
                                     <img src="{% static 'faviconit/favicon-16.png' %}" class="pull-left img-responsive" style="width: 20px;z-index: 498;;padding-left: 0;">
                                </div>
                                <div class="row w3-justify">
                                    <h5 id="t"
                                        style="width: 110px;margin-left: 20px;">{{ i.product_name }} </h5>
                                    <h6 id="t"
                                        style="width: 110px;margin-left: 20px;">{{ i.supp_user.company }}</h6>
                                    <h5 id="t" class="w3-green" style="width: 110px;margin-left: 20px;">
                                         &#8358 {{ i.price }}.00 </h5>
                                </div>
                                <div class="w3-center">
                                    <a href="{% url 'det' i.id %}"
                                       class="w3-btn  w3-border w3-border-pink w3-round w3-text-pink w3-hover-text-pink w3-white">
                                        View
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>


    </div>
    <br>
    {% include 'pagination.html' %}
    <br>

{% endblock %}