{% extends 'ipage.html' %}
{% load static %}
{% block head %}
    <title>Show - Order</title>
{% endblock %}
{% block content %}
    <style>
        .con {
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow-x: hidden !important;
        }

    </style>
    <br>
    <br>
    <div class="w3-container">
        <div class="w3-bar w3-pink w3-border w3-border-white w3-round">
            <div class="w3-bar-item" style="text-align: center;color:white;">SHOW ORDER PRODUCTS</div>
        </div>

        <div class="table-responsive">
            <table class="table con">
                <thead>
                <tr>
                    <th>S/N</th>
                    <th>Fullname</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th> Address</th>
                    <th>Grandtotal</th>
                    <th>Views</th>
                    <th>Confirm</th>
                </tr>
                </thead>
                <tbody>
                {% for o, d in orders %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.user.Name }}</td>
                        <td>{{ o.user.Phone }}</td>
                        <td>{{ o.user.Email }}</td>
                        <td>{{ o.address }}</td>
                        <td>{{ o.sumtotal }}</td>
                        <td>
                            <a type="button" class="w3-btn w3-pink" href="#faqx_{{ o.id }}" data-toggle="modal"
                               name="#modal_{{ o.id }}"
                            >
                                View
                            </a>
                        </td>
                        <td>
                            {#                        <a href="#" id="{{ o.id }}" type="button" class="w3-btn" name=""  style="background-color: orange;">#}
                            {#                            Confirm#}
                            {#                        </a>#}
                            <form method="post" action="#">
                                <div class="form-check">

                                    <div id="{{ o.id }}_csrf_holder">
                                        {% csrf_token %}
                                    </div>
                                    <script>
                                        var div = document.getElementById("{{ o.id }}_csrf_holder");
                                        var csrf = div.getElementsByTagName('input')[0].value;
                                    </script>
                                    <label class="form-check-label">
                                        <input id="{{ o.id }}" type="checkbox" name="{{ o.id }}_confirm"
                                               class="form-check-input"
                                               onclick="confirm_order(csrf, this.id, this.checked)"
                                               checked="{{ o.confirm }}">
                                    </label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <style>
                        .modal-open .modal {
                            background: rgba(0, 0, 0, 0.48);
                        }

                        .modal-body {
                            padding: 0;
                        }

                        .modal-w3lstext {
                            padding: 2em;
                        }

                        .modal-dialog {
                            margin: 3em auto;
                        }

                        .modal-body.modal-spa img {
                            width: 100%;
                        }

                        .modal-body h4 {
                            font-size: 1.5em;
                            color: #F44336;
                            letter-spacing: 6px;
                            font-weight: 300;
                            margin: 0 0 .5em;
                            font-style: italic;
                        }

                        .bnr-modal .modal-header {
                            border: none;
                            min-height: 2.5em;
                            padding: 0.5em 2em 0;
                        }

                        .bnr-modal button.close {
                            color: #F44336;
                            opacity: .9;
                            font-size: 2.5em;
                            outline: none;
                        }

                        /*-- //about-modal --*/
                    </style>
                    <!-- modal-faqx -->
                    <div class="modal bnr-modal fade" id="faqx_{{ o.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-spa">
                                    {#                <img src="{% static 'images/g2.jpg' %}" class="img-responsive" alt=""/>#}
                                    <div class="modal-w3lstext">
                                        <div class="row">
                                            <div class="colmd-12 col-sm-12">
                                                <h2 class="w3-text-pink"><span
                                                        class="glyphicon glyphicon-modal-window"></span>
                                                    Ordering Details
                                                </h2>
                                            <hr>
                                                {% for detail in d %}
                                                    <h5><span class="w3-text-pink">Product:</span>  {{ detail.item.product_name }}</h5>
                                                    <h5><span class="w3-text-pink"> qty :</span> {{ detail.qty }}</h5>
                                                    <h5><span class="w3-text-pink"> total :</span> {{ detail.total }}</h5>
                                                    <h5><span class="w3-text-pink"> Date Created :</span> {{ detail.created_at }}</h5>
                                                    <hr>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //modal-faqx-->
                    <div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}