{% extends 'details.html' %}
{% load static %}
{% block head %}
    {{ name }} :: Store
{% endblock %}
{% block content %}
    <!-- Content -->
    {% if error %}
        <div class="well w3-red">
            {{ error }}
        </div>
    {% endif %}
    {% if not error %}
    <div class="w3-content" style="max-width:1100px;margin-top:40px;margin-bottom:80px">
<div class="w3-container" style="">
        <div class="w3-panel w3-white w3-default w3-padding w3-round w3-border w3-card" style="background: url('{% static 'images/1.jpg' %}') no-repeat;margin-bottom: 10px;">
        <div class="w3-body ">
            <div class="w3-row">
                <div class="col l12 m12 s12">
                    <h1 class="w3-center"><b style="text-transform: uppercase;" class="w3-text-white">{{ name }}</b><i class="w3-text-white">'s</i> <span class="w3-text-white">Store</span> </h1>
                </div>
            </div>
            <p class="w3-text-white w3-center">Giving you the best Fashion Experience</p>
        </div>
        </div>
</div>


        <!-- Grid -->
    {% if offer is not None  %}
        <div class="w3-row w3-container">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
            </div>
            <div class="w3-col l12 m12 w3-pink w3-container w3-padding-16">
                <p><strong>{{ offer }}</strong></p>
            </div>
        </div>
        {% else %}


        {% endif %}

        <br>
    <div id="hot" class="container h city" style="margin-bottom: 2%;margin-top: 2%;display: block">
        <div class="row">
            {% if list %}
                {% for i in list %}
                    <div class="col-md-3 ">
                        <div class="panel panel-default w3-card">
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{{ i.image1.url }}" alt="pics"
                                         class="img-responsive img-hover"
                                         style="height: 150px;width: 200px;">
                                     <img src="{% static 'faviconit/favicon-16.png' %}" class="pull-left img-responsive" style="width: 20px;z-index: 498;;padding-left: 0;">
                                </div>
                                <div class="row w3-justify">
                                    <h5 id="t"
                                        style="width: 110px;margin-left: 20px;">{{ i.product_name }} </h5>
                                    <h6 id="t"
                                        style="width: 110px;margin-left: 20px;">{{ i.supp_user.company }}</h6>
                                    <h5 id="t" class="w3-green" style="width: 110px;margin-left: 20px;">
                                        #{{ i.price }}.00 </h5>
                                </div>
                                <div class="w3-center">
                                    <a href="{% url 'det' i.id %}"
                                       class="w3-btn  w3-border w3-border-pink w3-round w3-text-pink w3-hover-text-pink w3-white">
                                        View
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>


    </div>
    <br>
    {% include 'pagination.html' %}
    <br>


    </div>
    {% endif %}

    <!-- Footer -->


    <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            ;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>

{% endblock %}
