{% extends 'ms_supp.html' %}
{% load static %}
{% block head %}
    <title> Supplier || Register </title>
{% endblock %}
<!--//header-->
{% block content %}
    <div class="login">

        <div class="main-agileits">
            <div class="form-w3agile">
                <h3> Supplier Registration </h3>
                {% if successmsg %}
                    <div class="well">{{ successmsg }} <a href="{% url 'supplier_log' %}">{{ user }}</a></div>
                {% endif %}
                {% if errmsg %}
                    <div class="well w3-red  w3-text-white">{{ errmsg }}</div>
                {% endif %}
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Enter your full name" required
                               class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email" required class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Enter your phone number" required
                               class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="password" required class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" id="address" name="address"
                                  placeholder="Enter your Address"></textarea>
                    </div>
                    <hr>
                    <div class="w3-center">
                        <h4 class="w3-text-black">Company Information </h4>
                    </div>
                    <div class="form-group" style="margin-top: 7px;">
                        <input type="text" name="company" placeholder="Enter your company name" required
                               class="form-control">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="state" id="state" required>
                            <option value="#">--- Select state -----</option>
                            <option value="Abuja">Federal Capital Territory</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="AkwaIbom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Bornu">Bornu</option>
                            <option value="CrossRiver">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
{#                            <option value="Edo">Edo</option>#}
{#                            <option value="Ekiti">Ekiti</option>#}
{#                            <option value="Enugu">Enugu</option>#}
{#                            <option value="Gombe">Gombe</option>#}
{#                            <option value="Imo">Imo</option>#}
{#                            <option value="Jigawa">Jigawa</option>#}
{#                            <option value="Kaduna">Kaduna</option>#}
{#                            <option value="Kano">Kano</option>#}
{#                            <option value="Katsina">Katsina</option>#}
{#                            <option value="Kebbi">Kebbi</option>#}
{#                            <option value="Kogi">Kogi</option>#}
{#                            <option value="Kwara">Kwara</option>#}
{#                            <option value="Lagos">Lagos</option>#}
{#                            <option value="Niger">Niger</option>#}
{#                            <option value="Ogun">Ogun</option>#}
{#                            <option value="Ondo">Ondo</option>#}
{#                            <option value="Osun">Osun</option>#}
{#                            <option value="Oyo">Oyo</option>#}
{#                            <option value="Plateau">Plateau</option>#}
{#                            <option value="Rivers">Rivers</option>#}
{#                            <option value="Sokoto">Sokoto</option>#}
{#                            <option value="Taraba">Taraba</option>#}
{#                            <option value="Yobe">Yobe</option>#}
{#                            <option value="Zamfara">Zamfara</option>#}
                        </select>
                    </div>
                    <div class="form-group locs" id="Abuja" style="display:none">
                        <select class="form-control" name="a" id="a" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Gwagwalada">Gwagwalada</option>
                            <option value="Kuje">Kuje</option>
                            <option value="Abaji">Abaji</option>
                            <option value="Abuja Municipal">Abuja Municipal</option>
                            <option value="Bwari">Bwari</option>
                            <option value="Kwali">Kwali</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Abia" style="display:none">
                        <select class="form-control" name="b" id="b" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Aba North">Aba North</option>
                            <option value="Aba South">Aba South</option>
                            <option value="Arochukwu">Arochukwu</option>
                            <option value="Bende">Bende</option>
                            <option value="Ikwuano">Ikwuano</option>
                            <option value="Isiala-Ngwa North">Isiala-Ngwa North</option>
                            <option value="Isiala-Ngwa South">Isiala-Ngwa South</option>
                            <option value="Isuikwato">Isuikwato</option>
                            <option value="Obi Nwa">Obi Nwa</option>
                            <option value="Ohafia">Ohafia</option>
                            <option value="Osisioma">Osisioma</option>
                            <option value="Ngwa">Ngwa</option>
                            <option value="Ugwunagbo">Ugwunagbo</option>
                            <option value="Umuahia North">Umuahia North</option>
                            <option value="Ukwa West">Ukwa West</option>
                            <option value="Umuahia South">Umuahia South</option>
                            <option value="Umu-Neochi">Umu-Neochi</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Adamawa" style="display:none">
                        <select class="form-control" name="c" id="c" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Demsa">Demsa</option>
                            <option value="Fufore">Fufore</option>
                            <option value="Ganaye">Ganaye</option>
                            <option value="Gireri">Gireri</option>
                            <option value="Gombi">Gombi</option>
                            <option value="Guyuk">Guyuk</option>
                            <option value="Hong">Hong</option>
                            <option value="Jada">Jada</option>
                            <option value="Lamurde">Lamurde</option>
                            <option value="Madagali">Madagali</option>
                            <option value="Maiha">Maiha</option>
                            <option value="Mayo-Belwa">Mayo-Belwa</option>
                            <option value="Mubi North ">Mubi North</option>
                            <option value="Mubi South">Mubi South</option>
                            <option value="Numan">Numan</option>
                            <option value="Shelleng">Shelleng</option>
                            <option value="Song">Song</option>
                            <option value="Toungo">Toungo</option>
                            <option value="Yola North">Yola North</option>
                            <option value="Yola South">Yola South</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="AkwaIbom" style="display:none">
                        <select class="form-control" name="d" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Abak">Abak</option>
                            <option value="Eastern Obolo">Eastern Obolo</option>
                            <option value="Eket">Eket</option>
                            <option value="Esit Eket">Esit Eket</option>
                            <option value="Essien Udim">Essien Udim</option>
                            <option value="Etim Ekpo">Etim Ekpo</option>
                            <option value="Etinan">Etinan</option>
                            <option value="Ibeno">Ibeno</option>
                            <option value="Ibesikpo Asutan">Ibesikpo Asutan</option>
                            <option value="Ibiono Ibom">Ibiono Ibom</option>
                            <option value="Ika">Ika</option>
                            <option value="Ikono">Ikono</option>
                            <option value="Ikot Abasi">Ikot Abasi</option>
                            <option value="Ikot Ekpene">Ikot Ekpene</option>
                            <option value="Ini">Ini</option>
                            <option value="Itu">Itu</option>
                            <option value="Mbo">Mbo</option>
                            <option value="Mkpat Enin">Mkpat Enin</option>
                            <option value="Nsit Ibom">Nsit Ibom</option>
                            <option value="Nsit Ubium">Nsit Ubium</option>
                            <option value="Obot Akara">Obot Akara</option>
                            <option value="Okobo">Okobo</option>
                            <option value="Onna">Onna</option>
                            <option value="Oron">Oron</option>
                            <option value="Oruk Anam">Oruk Anam</option>
                            <option value="Udung Uko">Udung Uko</option>
                            <option value="Ukanafun">Ukanafun</option>
                            <option value="Uruan">Uruan</option>
                            <option value="Urue-Offong/Oruko">Urue-Offong/Oruko</option>
                            <option value="Uyo">Uyo</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Anambra" style="display:none">
                        <select class="form-control" name="e" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Aguata">Aguata</option>
                            <option value="Anambra East">Anambra East</option>
                            <option value="Anambra West">Anambra West</option>
                            <option value="Anaocha">Anaocha</option>
                            <option value="Awka North">Awka North</option>
                            <option value="Awka South">Awka South</option>
                            <option value="Ayamelum">Ayamelum</option>
                            <option value="Dunukofia">Dunukofia</option>
                            <option value="Ekwusigo">Ekwusigo</option>
                            <option value="Idemili North">Idemili North</option>
                            <option value="Idemili south">Idemili south</option>
                            <option value="Ikono">Ikono</option>
                            <option value="Ikot Abasi">Ikot Abasi</option>
                            <option value="Ikot Ekpene">Ikot Ekpene</option>
                            <option value="hiala">hiala</option>
                            <option value="Njikoka">Njikoka</option>
                            <option value="Nnewi North">Nnewi North</option>
                            <option value="Nnewi South">Nnewi South</option>
                            <option value="Ogbaru">Ogbaru</option>
                            <option value="Onitsha North">Onitsha North</option>
                            <option value="Onitsha South">Onitsha South</option>
                            <option value="Orumba North">Orumba North</option>
                            <option value="Orumba South">Orumba South</option>
                            <option value="Oyi">Oyi</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Bauchi" style="display:none">
                        <select class="form-control" name="f" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Alkaleri">Alkaleri</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bogoro">Bogoro</option>
                            <option value="Damban">Damban</option>
                            <option value="Darazo">Darazo</option>
                            <option value="Dass">Dass</option>
                            <option value="Ganjuwa">Ganjuwa</option>
                            <option value="Giade">Giade</option>
                            <option value="Itas/Gadau">Itas/Gadau</option>
                            <option value="Jama'are">Jama'are</option>
                            <option value="Katagum">Katagum</option>
                            <option value="Kirfi">Kirfi</option>
                            <option value="Misau">Misau</option>
                            <option value="Ikot Ekpene">Ikot Ekpene</option>
                            <option value="hiala">hiala</option>
                            <option value="Njikoka">Njikoka</option>
                            <option value="Nnewi North">Nnewi North</option>
                            <option value="Nnewi South">Nnewi South</option>
                            <option value="Ogbaru">Ogbaru</option>
                            <option value="Onitsha North">Onitsha North</option>
                            <option value="Onitsha South">Onitsha South</option>
                            <option value="Orumba North">Orumba North</option>
                            <option value="Orumba South">Orumba South</option>
                            <option value="Oyi">Oyi</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Bayelsa" style="display:none">
                        <select class="form-control" name="g" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Brass">Brass</option>
                            <option value="Ekeremor">Ekeremor</option>
                            <option value="Kolokuma/Opokuma">Kolokuma/Opokuma</option>
                            <option value="Nembe">Nembe</option>
                            <option value="Ogbia">Ogbia</option>
                            <option value="Dass">Dass</option>
                            <option value="Sagbama">Sagbama</option>
                            <option value="GiSouthern Jawade">Southern Jaw</option>
                            <option value="Yenegoa">Yenegoa</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Benue" style="display:none">
                        <select class="form-control" name="h" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Ado">Ado</option>
                            <option value="Agatu">Agatu</option>
                            <option value="Apa">Apa</option>
                            <option value="Buruku">Buruku</option>
                            <option value="Gboko">Gboko</option>
                            <option value="Guma">Guma</option>
                            <option value="Gwer East">Gwer East</option>
                            <option value="Gwer West">Gwer West</option>
                            <option value="Katsina-Ala">Katsina-Ala</option>
                            <option value="Konshisha">Konshisha</option>
                            <option value="Kwande">Kwande</option>
                            <option value="Logo ">Logo</option>
                            <option value="Makurdi ">Makurdi</option>
                            <option value="Obi ">Obi</option>
                            <option value="Ogbadibo ">Ogbadibo</option>
                            <option value="Oju ">Oju </option>
                            <option value="Okpokwu">Okpokwu </option>
                            <option value="Ohimini ">Ohimini </option>
                            <option value="Oturkpo ">Oturkpo</option>
                            <option value="Tarka ">Tarka </option>
                            <option value="Ukum ">Ukum </option>
                            <option value="Ushongo ">Ushongo </option>
                            <option value="Vandeikya">Vandeikya </option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Bornu" style="display:none">
                        <select class="form-control" name="i" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Abadam">Abadam </option>
                            <option value="Askira/Uba">Askira/Uba</option>
                            <option value="Bama ">Bama </option>
                            <option value="Bayo ">Bayo </option>
                            <option value="Biu ">Biu </option>
                            <option value="Chibok ">Chibok </option>
                            <option value="Damboa ">Damboa </option>
                            <option value="Gwer West">Gwer West</option>
                            <option value="Dikwa ">Dikwa</option>
                            <option value="Gubio ">Gubio </option>
                            <option value="Guzamala ">Guzamala </option>
                            <option value="Gwoza  ">Gwoza </option>
                            <option value="Hawul">Hawul </option>
                            <option value="Jere ">Jere </option>
                            <option value="Kaga ">Kaga</option>
                            <option value="Kala/Balge ">Kala/Balge </option>
                            <option value="Konduga">Konduga </option>
                            <option value="Kukawa ">Kukawa </option>
                            <option value="Kwaya Kusar ">Kwaya Kusar</option>
                            <option value="Mafa ">Mafa </option>
                            <option value="Magumeri ">Magumeri </option>
                            <option value="Maiduguri ">Maiduguri </option>
                            <option value="Marte">Marte </option>
                            <option value="Mobbar ">Mobbar</option>
                            <option value="Monguno">Monguno </option>
                            <option value="Ngala">Ngala </option>
                            <option value="Nganzai ">Nganzai</option>
                            <option value="Shani ">Shani</option>
                        </select>
                    </div><div class="form-group locs" id="Bornu" style="display:none">
                        <select class="form-control" name="i" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Abadam">Abadam </option>
                            <option value="Askira/Uba">Askira/Uba</option>
                            <option value="Bama ">Bama </option>
                            <option value="Bayo ">Bayo </option>
                            <option value="Biu ">Biu </option>
                            <option value="Chibok ">Chibok </option>
                            <option value="Damboa ">Damboa </option>
                            <option value="Gwer West">Gwer West</option>
                            <option value="Dikwa ">Dikwa</option>
                            <option value="Gubio ">Gubio </option>
                            <option value="Guzamala ">Guzamala </option>
                            <option value="Gwoza  ">Gwoza </option>
                            <option value="Hawul">Hawul </option>
                            <option value="Jere ">Jere </option>
                            <option value="Kaga ">Kaga</option>
                            <option value="Kala/Balge ">Kala/Balge </option>
                            <option value="Konduga">Konduga </option>
                            <option value="Kukawa ">Kukawa </option>
                            <option value="Kwaya Kusar ">Kwaya Kusar</option>
                            <option value="Mafa ">Mafa </option>
                            <option value="Magumeri ">Magumeri </option>
                            <option value="Maiduguri ">Maiduguri </option>
                            <option value="Marte">Marte </option>
                            <option value="Mobbar ">Mobbar</option>
                            <option value="Monguno">Monguno </option>
                            <option value="Ngala">Ngala </option>
                            <option value="Nganzai ">Nganzai</option>
                            <option value="Shani ">Shani</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="CrossRiver" style="display:none">
                        <select class="form-control" name="i" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Akpabuyo ">Akpabuyo </option>
                            <option value="Odukpani ">Odukpani </option>
                            <option value="Akamkpa ">Akamkpa </option>
                            <option value="Biase ">Biase </option>
                            <option value="Abi ">Abi </option>
                            <option value="Ikom ">Ikom </option>
                            <option value="Yarkur ">Yarkur </option>
                            <option value="Odubra">Odubra</option>
                            <option value="Boki ">Boki</option>
                            <option value="Ogoja ">Ogoja </option>
                            <option value="Yala ">Yala </option>
                            <option value="Obanliku  ">Obanliku </option>
                            <option value="Obudu ">Obudu </option>
                            <option value="Calabar South ">Calabar South </option>
                            <option value="Etung ">Etung</option>
                            <option value="Bekwara ">Bekwara </option>
                            <option value="Bakassi">Bakassi </option>
                            <option value="Calabar Municipality ">Calabar Municipality </option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Delta" style="display:none">
                        <select class="form-control" name="j" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Oshimili ">Oshimili </option>
                            <option value="Aniocha ">Aniocha  </option>
                            <option value="Aniocha South ">Aniocha South </option>
                            <option value="Ika South  ">Ika South </option>
                            <option value="Ika North-East ">Ika North-East </option>
                            <option value="Ndokwa West ">Ndokwa West </option>
                            <option value="Ndokwa East ">Ndokwa East </option>
                            <option value="Isoko south">Isoko south</option>
                            <option value="Isoko North ">Isoko North</option>
                            <option value="Bomadi ">Bomadi </option>
                            <option value="Burutu ">Burutu </option>
                            <option value="Ughelli South ">Ughelli South</option>
                            <option value="Ughelli North ">Ughelli North </option>
                            <option value="Ethiope West">Ethiope West</option>
                            <option value="Ethiope East ">Ethiope East</option>
                            <option value="Sapele">Sapele</option>
                            <option value="Okpe">Okpe </option>
                            <option value="Warri North">Warri North </option>
                            <option value="Warri South ">Warri South</option>
                            <option value="Uvwie ">Uvwie </option>
                            <option value="Udu ">Udu </option>
                            <option value="Warri Central ">Warri Central</option>
                            <option value="Ukwani ">Ukwani </option>
                            <option value="Oshimili North ">Oshimili North </option>
                            <option value="Patani">Patani</option>
                        </select>
                    </div>
                    <div class="form-group locs" id="Ebonyi" style="display:none">
                        <select class="form-control" name="j" id="d" required>
                            <option value="#">--- Select local Government -----</option>
                            <option value="Afikpo South ">Afikpo South </option>
                            <option value="Afikpo North ">Afikpo North  </option>
                            <option value="Aniocha South ">Aniocha South </option>
                            <option value="Onicha ">Onicha </option>
                            <option value="Ohaozara ">Ohaozara </option>
                            <option value="Abakaliki ">Abakaliki </option>
                            <option value="Ishielu ">Ishielu </option>
                            <option value="lkwo ">lkwo </option>
                            <option value="Ezza ">Ezza </option>
                            <option value="Ezza South ">Ezza South </option>
                            <option value="Ohaukwu ">Ohaukwu </option>
                            <option value="Ebonyi ">Ebonyi</option>
                            <option value="Ivo ">Ivo</option>
                        </select>
                    </div>
                    <script>
                        $(function () {
                            $('#state').change(function () {
                                $('.locs').hide();
                                $('#' + $(this).val()).show();
                            });
                        });
                    </script>
                    <div class="w3-center" style="margin-top: 10px;">
                        <input type="submit" value="Register" class="w3-btn w3-button w3-pink w3-hover-pink">
                    </div>
                </form>
            </div>
            <div class="forg">
                <a href="{% url 'forget_pass' %}" class="forg-left" class="w3-text-pink w3-hover-text-pink">Forgot
                    Password</a>
                <a href="{% url 'supplier_log' %}" class="forg-right" class="w3-text-pink w3-hover-text-pink">Login</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}